build --cxxopt='-std=c++17'
build --cxxopt='-Wall'
build --cxxopt='-Werror'
build --cxxopt='-Wextra'
build --cxxopt='-Wnon-virtual-dtor'
build --cxxopt='-Wpedantic'
build --cxxopt='-Wshadow'
build --linkopt='-pthread'
